version: 2.1

orbs:
  snyk: snyk/snyk@2.3.0

jobs:
  say-hello:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run: npm ci
      - snyk/scan:
          fail-on-issues: true
          monitor-on-build: true
          severity-threshold: high
          token-variable: SNYK_TOKEN

workflows:
  hello_workflow:
    jobs:
      - say-hello
